
/* defaults */
* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    /* font-family: Arial; */
}

i {
    font-weight: bold;
}

* ul {
    list-style: none;
}

figcaption{
    font-size: 0.8em;
}

section > * {
    padding: 0.5em;
}

h1 {
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
}

html{
    background-color: #031A3E;
}

footer{
    padding: 0.5em;
}

ol{
  padding: 1em;
}

small {
    font-size: 0.6em;
    color: white;
}

main {
    border-width: 0.25rem;
    border-color: black;
    border-style: double;
    background-color: #031A3E;

}

header {
    background-color: transparent;
    text-align: center;
}

header img {
    margin-left: auto;
    margin-right: auto;
    max-width:100%
}

header figure{
    text-align: center;
    grid-area: banner;
}

header nav {
    background-color: #000;
    padding: 0.5em;
    background-image: url("../images/both_small.png");
    background-repeat: no-repeat;
    background-position: right;
}

header ul {
    color: white;
    text-align: left;
}

header li{
    margin: 0.5em auto;
}

header nav a {
    text-decoration: none;
    border-radius: 0.5em;
    background-color: #031A3E;
    padding: 0.25em;
    color: white;
    margin: 0.5em;
}

header nav a:hover, a#here{
    background-color: DeepSkyBlue;
    color: #000;
}

/* sections */

main section{
    margin: 0.5em;
    padding: 0.1em;
    background-color: DeepSkyBlue;
    border-radius: 0.5em;
    color: black;
}

main > section, .example section{
    display: flex;
    flex-direction: column;
}

h1[id], .example h1 {
    background-color: #031A3E;
    border-radius: 0.5em;
    border-width: 0.125rem;
    border-color: white;
    color: white;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    text-align: center;
    padding: 0.5rem 2rem;
    display:inline-block;
}

section > * {
    margin: 0.5em
}

p {
    margin: 0.5em;
}

/* insets */

.inset {
    background-color: #031A3E;
    border-color: white;
    border-width: 0.125em;
    border-radius: 1em;
    border-style: solid;
    margin: 0 auto;
    grid-area: inset-right;
    clear:both;
}

.inset * {
    color: white;
}

.inset_skinny {
    display: table;
}

.inset h1 {
    font-size: 1.5em;
}

/* Example of Play */

.example ol{
    margin-top:0;
}

/* table of contents */
.contents {
    display: inline-block;
    background-color: #031A3E;
    border-color: white;
    border-width: 0.125em;
    border-radius: 1em;
    border-style: solid;
    padding: 0;
    margin-right: auto;
}

.contents * {
    padding: 0;
    color: white;
}

.contents h1 {
  font-size: 1.5em;
}

.contents li h1 a{
  font-size: 1.25rem;
}

.contents ol{
  margin: 1em;
  padding: 1em;
  padding-top: 0;
}

.contents ol ol{
  margin: 1em;
  padding: 0;
}

/* figures */
section figure {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 1em;
}

/* exterenal nav */

#external {
    padding: 0.5em;
    background-color: #031A3E;
    border-radius: 0.5em;
    margin: 0.5em;
    border-color: #fff;
    border-width: 0.125rem;
    border-style: solid;
}

#external img {
    width: 45px;
    height: 45px;
}

#external li{
    display: inline;
}
/* Adds two column inset layouts*/
@media screen and (min-width: 40em){

    html {
        background-image: url("../images/paladin_small.png"), url("../images/rin_small.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: top left, top right;
    }

    header nav {
        background-image: none;
    }

    * {
    font-size: 20px;
    }

    .has_inset {
        margin: 0;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: auto;
        grid-template-areas: "inset-left inset-right";
    }

    .has_inset .left {
        grid-area: inset-left;
    }

    .has_inset .right {
        grid-area: inset-right;
    }

    header ul{
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: space-around;
    }

    header li{
        display: inline;
        text-align: center;
        flex-grow: 1;
        margin: 0 auto;
    }

    main > section {
        display: block;
    }

    main > section > h1, .example h1 {
        margin-left: 0.5em;
    }

    .inset{
        margin-left: 0.5em;
    }

    .has_inset .inset{
        margin-left: auto;
    }

    .example section h1 {
        margin-left: 0;
    }
}

@media screen and (min-width: 70em){
    html{
        background-image: url("../images/paladin.png"), url("../images/rin.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: top left, 115%;
    }
    body {
            display: grid;
            grid-template-columns: 20% 60% 20%;
            grid-template-rows: auto;
            grid-template-areas: "left top-middle right"
                                "left middle middle-right"
                                "bottom bottom bottom"
        }

    header {
        grid-area: top-middle;
        }

    aside {
        grid-area: middle-right;
        }

    main {
        grid-area: middle
        }

    footer {
        grid-area: bottom;
        justify-self: center;
    }
}
